body{
  background-color: #d8c1aa;
  font-size: 18px;
  line-height: 1.15;
  margin: 0px;
  padding: 0px;
  
}

header{
  background-color: #09376b;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: white;
}

.headshots h2{
  text-transform: uppercase;
}
.headshots h3{
  font-style: italic;
  color: #09376b;
}
/* flex gallery for client logos */
.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* margin: auto;
  padding: auto; */
  margin: 20px;
  padding: 20px;
}

/* .flex{  --> Alpana's flex
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: auto;
  align-items: center;
} */

/* grid gallery for team headshots */

.leadership{
  background: white;
}

.headshots{
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-row-start: 2;
}

/* flex to style names and titles under images */
.bio{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav li{
  display: inline;
  padding: 40px 8px 20px 8px;
}

nav ul{
  margin-top: 40px;
}
nav a{
  color: white;
  font-weight: bold;
  text-decoration: none; 
}
nav a:hover,nav a:focus{
  text-decoration: underline;
  border: solid 2px;
  color: white;
}

nav a{
  color: white;
}

header nav{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px; 
  text-align: center; 
}

.skip a{
  position: absolute;
  top: -40px;
  color: white;
}

.skip a:focus{
  border: solid 2px;
  color: white;
  top: 20px;
}

*:focus{
  border: 2px solid;
}

/* .who {
  border-style: dashed;
  align-items: center;
  text-align: center;
  margin: auto;
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;

}
.community{
  text-align: center;
  margin: auto;
  align-self: center;
}

.services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-column: 1/span 1;
  border-style: dashed;
}
.services {
  text-align: center;
} */

.community{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px black solid;
  padding-bottom: 25px;
  padding-top: 25px;
}
.community h2{
  text-decoration: underline;
}
.c1{
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: right;
}
.comm{
  padding: 10px;
  margin: auto;

}
.services h2{
  text-align: center;
  text-decoration: underline;
}
/* .services{
  padding-left: 400px;
  padding-right: 400px;
  margin: auto;
  padding-bottom: 50px;
} */

/* general class for services */
.serv{
  padding: 50px;
}

.container {
  display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  
}
/* marketing */
.col{ 
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  
}
.who{
  align-items: center;
  text-align: center;
  align-self: center;
  padding-left: 50px;
  padding-right: 50px;
}
.col2{
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  
}
.cont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: solid;
  padding: 25px;
}
.cont h2{
  text-decoration: underline;
}
.cont h3{
  text-decoration: underline;

}

/* faq css */
.faq{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  background: white;
  margin: 20px;
  padding: 20px;
}

.questions{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .headshots{
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-row-start: 2;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    justify-content: center;
    align-items: center;
    
  }

}
