body{
    background-color: white;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    
  }
  header{
    background-color: #3f6d99;
    color: white;
  }
  h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    color: white;
  }
  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-row-start: 2;

  }

  nav a:hover,nav a:focus{
    text-decoration: underline;
    border: solid 2px;
    color: white;
  }
  nav a{
    color: white;
  }
  header nav{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
  }
  
  .skip a{
    padding: 6px;
    position: absolute;
    color: white;
  }

  .skip a:focus{
    border: solid 2px;
    color: white;
  }

  *:focus{
    border: 2px solid;
  }