body{
  background-color: #d8c1aa;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  
}

header{
  background-color: #09376b;
  color: white;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: white;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-row-start: 2;
}

.flex h2{
  text-transform: uppercase;
}
.flex h3{
  font-style: italic;
  color: #09376b;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: auto;
  align-items: center;
}

nav a:hover,nav a:focus{
  text-decoration: underline;
  border: solid 2px;
  color: white;
}

nav a{
  color: white;
}

header nav{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

.skip a{
  padding: 6px;
  position: absolute;
  color: white;
}

.skip a:focus{
  border: solid 2px;
  color: white;
}

*:focus{
  border: 2px solid;
}
.community{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px black solid;
  padding-bottom: 25px;
  padding-top: 25px;
}
.community h2{
  text-decoration: underline;
}
.c1{
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
  align-items: right;
}
.comm{
  padding: 10px;
  margin: auto;

}
.services h2{
  text-align: center;
  text-decoration: underline;
}
.services{
  border: black 2px solid;
  padding-left: 400px;
  padding-right: 400px;
  margin: auto;
  padding-bottom: 50px;
}

.serv{
  padding: 250px;
}

.container {
  display: grid;
	grid-template-columns: 300px 300px 300px;
	text-align: center;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  
}
.col{
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  
}
.who{
  align-items: center;
  text-align: center;
  align-self: center;
  padding-left: 450px;
  padding-right: 450px;
}
.col2{
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  
}
.cont{
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: solid;
  padding: 25px;
}
.cont h2{
  text-decoration: underline;
}
.cont h3{
  text-decoration: underline;

}




